<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="h-screen flex items-center justify-center border bg-gray-100 border-gray-300   rounded-lg py-6">
    <div class="w-1/2 h-2/3 text-center bg-white flex items-center justify-center rounded-lg border-red-300">
        <div>
                <h1 class="text-2xl font-bold mb-8">Chat App</h1>

                <form id="loginForm" action="/login" method="POST">
                    <div class="mb-4">
                        <label for="username" class="block text-gray-700">Username:</label>
                        <input type="text" class="form-control mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" id="username" name="username" required>
                    </div>
                    <div class="mb-4">
                        <label for="password" class="block text-gray-700">Password:</label>
                        <input type="password" class="form-control mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" id="password" name="password" required>
                    </div>
                    <button type="submit" class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-6">Login</button>
                </form>
           
            <div>
                <span class="px-3">Create a New Account?</span>
                <a href="/register" class="btn bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Register</a>
            </div>
        </div>
    </div>
</body>
</html>
